
:root{
    --accent-color:#2196F3;
    --main-font:'Roboto', sans-serif;
    --secondary-font: "Raleway", sans-serif;  
}
html{
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
  }

body {
    font-family: var(--main-font);
    font-style: normal;
}
img{
    display: block;

}
.list{
    list-style: none; 
}

  .link {
    text-decoration: none;
  }
  .address {
    font-style: normal;
  }
  .container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }

/*  =========== HEADER  ============ */
.header{
    border-bottom: 1px solid #ECECEC; 
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;   
}


.navigation{
    display: flex;
    align-items: center;
}

.navigation-list{
    display: flex;
}
.navigation-list-item:not(:last-child){
    margin-right: 50px;
   }
.address-list{
    display: flex; 
}
.address-list-item:not(:last-child){
    margin-right: 30px;
   }
.address{
    margin-left: 305px;
}
.logo-container{
  display: flex;
}
.logo{
   
    font-family:var(--secondary-font)
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right:93px;
   
}

.logo-web{
    color: #2196F3;
}
.studio-logo{
    color: #FFFFFF;
}
.navigation-list-link,
.address-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-list-link:hover,
 .navigation-list-link:focus,
 .address-list-link:hover,
 .address-list-link:focus{
  color:var(--accent-color);}

  /*  ============END  HEADER  ============ */

  /*  =========== HERO  ============ */
  .hero{
    background: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.364;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

.hero-btn{
display: block;
padding: 10px 32px;
font-weight: 700;
border: 0;
border-radius: 8px;
font-size: 16px;
line-height: 1.875;
display: inline;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--accent-color);

}


/*  =========== END HERO  ============ */

/*  =========== BENEFITS  ============ */ 
.benefits-list{
    display: flex;
   justify-content: space-between;
  }

  .benefits-list >li {
   flex-basis: 270px;
   margin-right: 30px;
  }
 .benefits-list >li:last-child{
     margin-right: 0px;
 }
.benefits-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;

}
.benefits-description{
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}




/*  =========== END BENEFITS  ============ */

/*  =========== WHAT WE DO   ============ */ 
.section-title {
  
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    align-items: center;
  }
  .whatwedo-list{
    display: flex;
  }
  .whatwedo-list> li {
    margin-right: 30px;
  }
  .whatwedo-list> li:last-child {
    margin-right: 0px;
  }
  
  
  /*  =========== END WHAT WE DO   ============ */

  /*  =========== OUR TEAM   ============ */ 
  .team {
    background: #f5f4fa;
  }
 .team-list{
    display: flex;
  }
  .team-list> li {
    margin-right: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

Sunny Store, [25.09.20 03:07]
}
  .team-list > li:last-child {
    margin-right: 0px;
  }
  .team-list-img{
    margin-bottom: 30px;
  }
  .member-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  }
  
  .member-profession{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  padding-bottom: 30px;
  }
  /*  ===========END  OUR TEAM   ============ */
  
  /*  ===========FOOTER ============ */
  .footer{
    background: #2F303A; 
    padding-top:60px ;
    padding-bottom:60px ;
  }
  .footer.address{
      display: block;
  }
  .footer-logo {
    display: inline-block;
    font-family:var(--secondary-font)
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
  }

  .address-location{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
    }
    .footer-address-link{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-address-link:hover,
    .footer-address-link:focus{
      color:var(--accent-color);
    }
    .footer-address-item:not(:last-child){
        margin-bottom: 9px;
    }

      /*  ===========END FOOTER ============ */

       /*  ===========PORTFOLIO ============ */
      
       .portfolio-btn-list{
           display: flex;
           justify-content: center;
           margin-bottom: 50px;
       }
      
       .portfolio-btn{
           margin-right: 8px;
       }
       .portfolio-btn{
        padding: 6px 22px;
        border-style: none;
        border-radius: 4px;
        background-color: #f5f4fa;
        color: #212121;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
      }
      .portfolio-btn:hover,
      .portfolio-btn:focus{
        color: #FFFFFF;
        background: var(--accent-color);
      }
      .portfolio-title{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: #212121;
      
      }
      .portfolio-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
      color: #757575;
      }
      .portfolio-gallery{
          display: flex;
          flex-wrap: wrap;
      }
     
      .portfolio-item{
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
      }
      .poster{
        padding-left: 0px;
        padding-right: 0px;
      }
      .card-content{
        background: #FFFFFF;
        border-right: 1px solid #EEEEEE;
        border-left:  1px solid #EEEEEE;
        border-bottom:  1px solid #EEEEEE;
        box-sizing: border-box;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        /*border-bottom-right-radius: ;
        border-bottom-left-radius: ;
        overflow:hidden*/
      }
      .portfolio-title{
        margin-bottom: 4px;
      }
      .portfolio-item:nth-child(3n){
        margin-right: 0px;
    }
    .portfolio-item:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }